<div class="container">
  <h2 class="m-3 text-center card p-2">Register Form</h2>
  <form class="mb-3" (ngSubmit)="onRegister()" #regForm="ngForm">
    <div class="row">
      <div class="col-4"></div>
      <div
        class="col-4 text-center card p-2 m-3"
        style="box-shadow: 5px 5px 5px rgb(234, 137, 137)"
      >
        <!--Name-->
        <div class="mb-3">
          <label for="name">Name:</label>
          <input
            id="name"
            type="text"
            name="name"
            class="form-control w-75 mx-auto"
            [(ngModel)]="name"
            #nameModel="ngModel"
            required
            minlength="3"
            maxlength="20"
          />

          <!--Error Handling-->
          <div
            *ngIf="nameModel.touched && nameModel.invalid"
            class="form-text text-danger text-center"
          >
            <small *ngIf="nameModel?.errors?.['required']">Name is required</small>
            <small *ngIf="nameModel?.errors?.['minlength']">Minlength is 3</small>
            <small *ngIf="nameModel?.errors?.['maxlength']">Maxlength is 20</small>
          </div>
        </div>

        <!--Username-->
        <div class="mb-3">
          <label for="username">Username:</label>
          <input
            id="username"
            type="text"
            name="username"
            class="form-control w-75 mx-auto"
            [(ngModel)]="username"
            #usernameModel="ngModel"
            required
            minlength="3"
            maxlength="20"
            pattern="[A-Za-z0-9]+"
          />

          <!--Error Handling-->
          <div
            *ngIf="usernameModel.touched && usernameModel.invalid"
            class="form-text text-danger text-center"
          >
            <small *ngIf="usernameModel?.errors?.['required']">Username is required</small>
            <small *ngIf="usernameModel?.errors?.['minlength']">Minlength is 3</small>
            <small *ngIf="usernameModel?.errors?.['maxlength']">Maxlength is 20</small>
            <br />
            <small *ngIf="usernameModel?.errors?.['pattern']"
              >should use letters and numbers only</small
            >
          </div>
        </div>

        <!--Email-->
        <div class="mb-3">
          <label for="email">Email:</label>
          <input
            id="email"
            type="email"
            name="email"
            class="form-control w-75 mx-auto"
            [(ngModel)]="email"
            #emailModel="ngModel"
            required
            email
          />
          <!--Error Handling-->
          <div
            *ngIf="emailModel.touched && emailModel.invalid"
            class="form-text text-danger text-center"
          >
            <small *ngIf="emailModel?.errors?.['required']">Email is required</small>
            <small *ngIf="emailModel?.errors?.['email']">Please, enter a valid email</small>
          </div>
        </div>

        <!--Password-->
        <div class="mb-3">
          <label for="password">Password:</label>
          <input
            id="password"
            type="password"
            name="password"
            class="form-control w-75 mx-auto"
            [(ngModel)]="password"
            #passwordModel="ngModel"
            required
            minlength="6"
          />
          <!--Error Handling-->
          <div
            *ngIf="passwordModel.touched && passwordModel.invalid"
            class="form-text text-danger text-center"
          >
            <small *ngIf="passwordModel?.errors?.['required']">password is required</small>
            <small *ngIf="passwordModel?.errors?.['minlength']">password must be at least 6</small>
          </div>
        </div>

        <!--ConfirmPassword-->
        <div class="mb-3">
          <label for="confirmPassword">Confirm Password:</label>
          <input
            id="confirmPassword"
            type="password"
            name="confirmPassword"
            class="form-control w-75 mx-auto"
            [(ngModel)]="confirmPassword"
            #confirmModel="ngModel"
            required
            minlength="6"
          />
          <!--Error Handling-->
          <div
            *ngIf="confirmModel.touched && confirmModel.invalid"
            class="form-text text-danger text-center"
          >
            <small *ngIf="confirmModel?.errors?.['required']">password is required</small>
            <small *ngIf="confirmModel?.errors?.['minlength']">password must be at least 6</small>
          </div>
        </div>
        <!-- matching handle -->
        <div
          *ngIf="password && confirmPassword && password !== confirmPassword"
          class="text-danger"
        >
          Password and Confirm Password must match
        </div>

        <!-- <div class="mb-2">Clicked {{ clickCount }} times</div> -->

        <button
          type="submit"
          class="btn"
          [ngClass]="regForm.valid && password === confirmPassword ? 'btn-success' : 'btn-primary'"
          [disabled]="regForm.invalid || password !== confirmPassword"
        >
          Create
        </button>
      </div>
      <div class="col-4"></div>
    </div>
  </form>
</div>
