<footer class="footer">
  <div class="footer-container">
    <div class="footer-section footer-info">
      <div class="app-logo">
        <span><i class="fa-solid fa-film"></i>Movie App</span>

      </div>
      <p>Your ultimate destination for discovering and exploring movies.</p>
    </div>

    <div class="footer-section">
      <h3>Movies</h3>
      <ul>
        <li><a href="#">Popular</a></li>
        <li><a href="#">Top Rated</a></li>
        <li><a href="#">Upcoming</a></li>
        <li><a href="#">Now Playing</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Categories</h3>
      <ul>
        <li><a href="#">Action</a></li>
        <li><a href="#">Comedy</a></li>
        <li><a href="#">Drama</a></li>
        <li><a href="#">Sci-Fi</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Connect</h3>
      <div class="social-icons">
        <a href="#" aria-label="Email"><i class="fas fa-envelope">Movie@email.com</i></a>
        <br>
        <a href="#" aria-label="x"><i class="fab fa-twitter">Movie@x.com</i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <hr />
    <p>&copy; 2024 Movie App. All rights reserved.</p>
  </div>
</footer>