<div class="container py-4">

  <section class="hero-section ">
    <h1 class="fw-bold">Welcome to our movie app</h1>
    <p class="text-muted mb-4">Millions of movies, TV shows and people to discover. Explore now.</p>

    <div class="row ">
      <div class="col-12">
        <div class="d-flex">
          <input type="text" class="form-control form-control-lg me-2" placeholder="Search and explore..."
            aria-label="Search" style="width: 100%;">
          <button class="btn btn-lg fw-bold" type="button" style="  background-color: #f8d364;
">Search</button>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <div class="container my-5">
    <h4 class="fw-bold mb-4">Now Playing</h4>

    <div class="row g-4">
      @for (movie of movies$ | async; track movie.id) {
      <div class="col-6 col-md-4 col-lg-2">
        <div class="movie-card shadow-sm rounded overflow-hidden position-relative">

          <img [src]="imageBaseUrl + movie.poster_path" class="movie-image w-100" [alt]="movie.title" />


          <div class="rating-badge">
            {{ movie.vote_average | number: '1.0-1' }}
          </div>


          <i class="bi bi-heart-fill wishlist-icon"></i>

          <div class="movie-info">
            <div>
              <p class="movie-title">{{ movie.title }}</p>
              <p class="movie-date">{{ movie.release_date | date: 'MMM dd, yyyy' }}</p>
            </div>
            <i class="bi bi-star-fill text-warning"></i>
          </div>
        </div>
      </div>
      }
    </div>
  </div>